<div
  style="height: 70vh"
  class="d-flex justify-content-center align-items-center flex-wrap"
>
  <form (submit)="checkAnswer($event)">
    <div class="d-flex flex-wrap justify-content-around p-2" style="gap : 10px">
      <h2>{{ num1 }}</h2>
      <h2>+</h2>
      <h2>{{ num2 }}</h2>
      <h2>=</h2>
      <input
        class="col-sm-3"
        type="text"

        (change)="change($event)"
        value="{{ answer }}"
      />
      <button class="col-sm-3" type="submit" class="btn btn-primary">
        submit
      </button>
    </div>
    <div>
      <div>Total Answer : {{ totalAns }}</div>
      <div>Average Time Per Solution : {{ avg }}</div>
      <div>{{ message }}</div>
    </div>
  </form>
  <div></div>
</div>
